# dependencies (bun install)
node_modules

# output
out
dist
*.tgz
DATABASE_URL="postgresql://neondb_owner:npg_FhWVd7GzeY0Q@ep-tight-meadow-a5ququg4-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
